.access-auth
    .text O entra con
    .auth-apps
        a(href="/join/with-facebook" class="auth-app facebook-app")
            .app-icon
                i(class="fa fa-facebook" aria-hidden="true")
            .app-name Facebook
        a(href="/join/with-google" class="auth-app google-app")
            .app-icon
                i(class="fa fa-google" aria-hidden="true")
            .app-name Google
