.btn {
    color: inherit;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid;
    border-color: inherit;
    display: inline-block;

    border-radius: 20px;
    padding: 5px 12px;
    background-color: transparent;
    transition: all .3s;
    &:hover, &:focus {
        background-color: rgba(255, 255, 255, .1);
    }
    &.btn-outline-teal {
        border-color: teal;
        color: teal;
        &:hover, &:focus {
            color: #fff;
            background-color: teal;
            border-color: transparent;
        }
    }
    &.btn-outline-red {
        border-color: #9D1717;
        color: #9D1717;
        &:hover, &:focus {
            color: #fff;
            background-color: #9D1717;
            border-color: transparent;
        }
    }
}
