extends layouts/registered.pug

block content
  body
    h1(id="titulo") Chatea con tus compañeros
    div(id="messages")
    form(onsubmit="return addMessage(this);")
      textarea(id="text" placeholder="Mensaje")
      input(id="boton-mensaje" type="submit" value="Enviar")
        
block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/public/js/client_chat.js")
