extends layouts/unregistered.pug
block styles
    link(rel="stylesheet" href="/public/css/error.css")

block content
    //No funciona bien en dispositivos mobiles, usar centrado absoluto
    .container-flex.center
        .error
            .text-error
                h4= message
            .code-error= code
            
