extends layouts/registered.pug

block content
    .section#my-home
        .container
            //.row
                .col.s12.m8.offset-m2.l6.xl4
            section.sidebar
                .imp-events.sidebar-elem
                    h1.sidebar-title EVENTOS IMPORTANTES
                    table
                        thead
                            tr
                                th Nombre del evento
                                th Faltan
                        tbody
                            tr.imp-event
                                td
                                    a(href="#") Sistemas informaticos
                                
                                td 6 días
                .reminders.sidebar-elem
                    .sidebar-title
                        h1.sidebar-title RECORDATORIOS
                    ul
                        li.reminder
                            .riminder-title Sistemas informaticos
                            .checkbox
            //.col.s12.m8.offset-m2.l6.xl8
            .content
                .cal-line-points
                    .cal-line
                    .cal-points
                        .cal-month.current
                            .month-name septiembre
                        .cal-day
                            .cal-point.important
                            .day 31D
                        .cal-month.new
                            .month-name octubre
                        .cal-day
                            .cal-point.not-important
                            .day 1L
                        .cal-day
                            .cal-point.important
                            .day 2
                        .cal-day
                            .cal-point
                            .day 3
                        .cal-day
                            .cal-point
                            .day 4
                        .cal-day
                            .cal-point
                            .day 5
                        .cal-day
                            .cal-point
                            .day 5
                        .cal-day
                            .cal-point
                            .day 5
                .day-events.center-block
                    header.day 4 de agosto
                    .events
                        .event.imp
                            .event-name Sistemas informaticos
                            .event-time 24:00
                        .event.medium-imp
                            .event-name Sistemas informaticos
                            .event-time 24:00
