extends layouts/registered.pug
block style
    link(rel="stylesheet" href="/public/css/home.css")
    link(rel="stylesheet" href="/public/css/ecalendar.css")
        
block content
    .container-fluid
        .row
            .col-xs-12.col-sm-5
                .container.container-custom
                    .sidebar
                        .next-events(tabindex="0" aria-label="Proximos eventos")
                            header
                                .title
                                    | Próximos&nbsp
                                    span.highlight eventos
                            table
                                thead
                                    tr
                                        th.name Nombre
                                        th.remaining Faltan
                                tbody#next-events
                        hr
                        .calendar(tabindex="0" aria-label="Calendario")
                            header.with-actions
                                .title.month-year-calendar(tabindex="0")#month
                                .actions
                                    button(class="event-form-toggle" aria-labelledby="create-event-button")
                                        i(class="fa fa-plus" aria-hidden="true")
                                    button(onclick="calendar.refreshMonth(-1)" aria-label="mes anterior")
                                        i(class="fa fa-chevron-left" aria-hidden="true")
                                    button(onclick="calendar.refreshMonth(1)" aria-label="mes siguiente")
                                        i(class="fa fa-chevron-right" aria-hidden="true")
                            
                            #ecalendar
                        
            .col-xs-12.col-sm-7.mean.container.container-flex
                .day-calendar-events#day-calendar-events(tabindex="10" aria-labelledby="date-calendar")
                    header.with-actions
                        .title.date#date-calendar
                        .actions
                            button(class="event-form-toggle" aria-labelledby="create-event-button")
                                i(class="fa fa-plus" aria-hidden="true")
                            button(aria-label="dia anterior")
                                i(class="fa fa-chevron-left" aria-hidden="true")
                            button(aria-label="dia siguiente")
                                i(class="fa fa-chevron-right" aria-hidden="true")
                    hr
                    .day-events#day-events
                        
    
block scripts
    script(src="/public/js/ecalendar.js")
    script(src="/public/js/home.js")
