extends layouts/registered.pug
block style
    link(rel="stylesheet" href="/public/css/home.css")
    link(rel="stylesheet" href="/public/css/ecalendar.css")
        
block content
    .container-fluid
        .row
            .col-xs-12.col-sm-5
                .container.container-custom
                    .sidebar
                        .important-events
                            header
                                .title
                                    | Próximos&nbsp
                                    span.highlight eventos
                            table#important-events
                                thead
                                    tr
                                        th.name Nombre
                                        th.remaining Faltan
                                tbody
                                    tr
                                        td
                                            .event-name Examen LPPaaaassssssssssssssssssssssssssssssssssssssssssssaaaaaaaa
                                        td
                                            .remaining-days 8 días
                                    tr
                                        td
                                            .event-name Examen LPP
                                        td
                                            .remaining-days 8 días
                        hr
                        .calendar
                            header.with-actions
                                .title.month-year-calendar#month
                                .actions
                                    button(class="event-form-toggle")
                                        i(class="fa fa-plus" aria-hidden="true")
                                    button(onclick="calendar.refreshMonth(-1)")
                                        i(class="fa fa-chevron-left" aria-hidden="true")
                                    button(onclick="calendar.refreshMonth(1)")
                                        i(class="fa fa-chevron-right" aria-hidden="true")
                            
                            #ecalendar
                        
            .col-xs-12.col-sm-7.mean.container.container-flex
                .day-calendar-events
                    header.with-actions
                        .title.date
                            span.highlight Miércoles
                            | &nbsp1 de mayo de 2017
                        .actions
                            button(class="event-form-toggle")
                                i(class="fa fa-plus" aria-hidden="true")
                            button
                                i(class="fa fa-chevron-left" aria-hidden="true")
                            button
                                i(class="fa fa-chevron-right" aria-hidden="true")
                    hr
                    .day-events
                        ul.events
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
                            li.event.important
                                .event-info
                                    .event-name Examen de LPP
                                    .aditional-info
                                        span.event-time 10:00 - 11:00
                                        span.event-observations Observaciones...
                                .event-actions
                                    button
                                        i(class="fa fa-pencil" aria-hidden="true")
                                    button
                                        i(class="fa fa-trash-o" aria-hidden="true")
    
block scripts
    script(src="/public/js/ecalendar.js")
    script(src="/public/js/home.js")
