extends layouts/registered.pug
block style
    link(rel="stylesheet" href="/public/css/home.css")
    link(rel="stylesheet" href="/public/css/ecalendar.css")
        
block content
    .container-fluid
        .row
            .col-xs-12.col-sm-5
                .container.container-custom
                    .sidebar
                        .important-events
                            header
                                .title
                                    | Próximos&nbsp
                                    span.highlight eventos
                            table#important-events
                                thead
                                    tr
                                        th.name Nombre
                                        th.remaining Faltan
                                tbody
                                    for nextEvent in nextEvents
                                        tr
                                            td
                                                .event-name= nextEvent.name
                                            td
                                                .remaining-days= nextEvent.remaining
                                                    | &nbspdías
                        hr
                        .calendar
                            header.with-actions
                                .title.month-year-calendar#month
                                .actions
                                    button(class="event-form-toggle")
                                        i(class="fa fa-plus" aria-hidden="true")
                                    button(onclick="calendar.refreshMonth(-1)")
                                        i(class="fa fa-chevron-left" aria-hidden="true")
                                    button(onclick="calendar.refreshMonth(1)")
                                        i(class="fa fa-chevron-right" aria-hidden="true")
                            
                            #ecalendar
                        
            .col-xs-12.col-sm-7.mean.container.container-flex
                .day-calendar-events
                    header.with-actions
                        .title.date#date-calendar
                        .actions
                            button(class="event-form-toggle")
                                i(class="fa fa-plus" aria-hidden="true")
                            button
                                i(class="fa fa-chevron-left" aria-hidden="true")
                            button
                                i(class="fa fa-chevron-right" aria-hidden="true")
                    hr
                    .day-events
                        ul.events#day-events
    
block scripts
    script(src="/public/js/ecalendar.js")
    script(src="/public/js/home.js")
