extends layouts/unregistered.pug
block styles
    link(rel="stylesheet" href="/public/css/landing.css")

block content
    section.pitch.container-flex.middle
            .container
                .description
                        .row.center-sm
                            .col-xs-12.col-sm-6
                                h1 Clasdy
                                p Una aplicación para que los alumnos y profesores puedan reportar eventos ocurridos durante la jornada académica, a modo de noticias.
                .sign-in
                    a(href="/join/signup" class="btn hover-teal") Regístrate

    section.features#features
        .container
            .feature
                .row.center-md.middle-sm
                    .col-xs-12.col-sm-6.col-md-5
                        .feature-description
                            h2 Calendario
                            p Dispón de un calendario que reúna todos tus eventos académicos.
                    .col-xs-12.col-sm-6.col-md-5
                        img(src="/public/img/calendar.png" alt="")
            hr
            .feature
                .row.center-md.middle-sm.reverse
                    .col-xs-12.col-sm-6.col-md-5
                        .feature-description
                            h2 Chat
                            p Mantente informado sobre cualquier información de tu asignatura.
                    .col-xs-12.col-sm-6.col-md-5
                        img(src="/public/img/chat.png" alt="")
                    
    
    section.subscription#subscription
        .container
            .row.center-sm
                .col-xs-12.col-sm-6
                    h4 ¿Quieres recibir información sobre futuras actualizaciones?
                    form(action="#" method="" class="form")
                        .form-group
                            .input-field
                                label(for="email") Email
                                input(type="email" placeholder="Introduce tu email" name="email" id="email" required)
                        .submit
                            input(type="submit" class="btn hover-red" value="Suscribirse")
