extends layouts/unregistered.pug

block content
    section.description
        .container
            section.text
                h1 Diario de Clase
                p Los alumnos y profesores puedan reportar eventos ocurridos durante la jornada académica, a modo de “noticias”.
            .margin-top
                a(href="/join/signup" class="btn btn-teal") Regístrate
    section.features#features
        .container
            .feature
                .row
                    .column.m6
                        .feature-description
                            h2 Calendario
                            p Dispón de un calendario que reúna todos tus eventos académicos.
                    .column.m6
                        img(src="" alt="")
            .feature
                .row
                    .column.m6
                        img(src="" alt="")
                    .column.m6
                        .feature-description.right
                            h2 Chat
                            p Mantente informado sobre cualquier información de tu asignatura.
    section.subscription#subscription
        .container
            h3 ¿Quieres recibir información sobre futuras actualizaciones?
            form(action="#" method="" class="center-block")
                .input-field
                    label(for="email") Email
                    input(type="email" class="input input-text transparent" placeholder="Introduce tu email" name="email" id="email" required)
                .submit
                    input(type="submit" class="btn btn-red" value="Suscribirse")
