extends layouts/unregistered.pug

block styles
    link(rel="stylesheet" href="/public/css/signin.css")

block content
    .container
        .row.center-sm
            .col-xs-12.col-sm-8.col-md-6
                .access-section
                    .access-title
                        h1 Regístrate
                    .access-alt ¿Ya tienes una cuenta?
                            a(href="/join/login" class="underline") Inicia sesión
                    form(action="/join/signup" method="POST" class="form signin-form")
                        .server-msg
                        .form-group
                            .input-field
                                label(for="name") Nombre
                                input(type="text" placeholder="Introduce tu nombre" name="name" minlenght="6" maxlength="64" id="name")
                            .validation-msg
                        .form-group
                            .input-field
                                label(for="email") Email
                                input(type="email" placeholder="Introduce tu correo electrónico" minlenght="6" name="email" id="email" maxlength="64" required="true")
                            .validation-msg
                        .form-group
                            .input-field
                                label(for="password") Contraseña
                                input(type="password" placeholder="Introduce tu contraseña" minlength="6" maxlength="64" name="password" id="password" required="true")
                            .validation-msg
                        .submit
                            input(type="submit" class="btn btn-outline-teal" value="Registrarse")
                    include partials/auth-apps.pug
block scripts
    script(src="/public/js/validate.js")
    script(src="/public/js/access.js")
