doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Diario de Clases
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
        
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet")
        link(rel="stylesheet" href="css/styles.css")
        link(rel="stylesheet" href="css/access.css")
    body
        header.main
            .container
                nav(class="flex justify-between align-center nav-links")
                    ul
                        li
                            a(href="/" class="nav-link") Inicio
                        li
                            a(href="/#features" class="nav-link") Herramienta
                        li
                            a(href="/#subscription" class="nav-link") Suscríbete
                    ul
                        li
                            a(href="/signin" class="btn btn-teal") Entrar
        section
            .container
                .access-section.center
                    .access-title
                        h1 Registrate
                    .access-alt ¿Ya tienes una cuenta?
                            a(href="/signin" class="underline") Inicia sesión
                    
                    form(action="#" method="method" class="access-form")
                        .input-field
                            label(for="email") Email
                            input(type="email" placeholder="Introduce tu email" name="email" id="email" required)
                        .input-field
                            label(for="password") Contraseña
                            input(type="password" placeholder="Introduce tu contraseña" name="password" id="password" required)
                        .forgot-password
                            a(href="#" class="underline") ¿Olvidaste tu contraseña?
                        .submit
                            input(type="submit" class="btn btn-c-teal" value="Registrarse")
        footer
            .container.center-xy © Copyright  2017
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="js/main.js")
