
header {
    background-color: #4A4A4A;
}
.underline:hover, .underline:focus {
    text-decoration: underline;
    padding-bottom: 5px;
}
.access-section {
    width: 550px;
    text-align: center;
    padding: 50px 10px;
}
.access-section h1 {
    font-size: 40px;
    font-weight: 300;
}
.access-alt {
    margin-top: 5px;
    font-size: 17px;
}
.access-alt a {
    padding-left: 5px;
    color: teal;
}
.access-form {
    margin-top: 30px;
}
.access-form input-field {
    margin: 10px 0px;
}
.access-form .forgot-password {
    margin-top: 5px;
    color: teal;
    font-size: 14px;
    text-align: right;
}

.btn-c-teal {
    border-color: teal;
    color: teal;
}
.btn-c-teal:hover, .btn-c-teal:focus {
    color: #fff;
    background-color: teal;
}
