header {
  background-color: #4A4A4A; }

.underline:hover, .underline :focus {
  text-decoration: underline;
  padding-bottom: 5px; }

.access-section {
  width: 550px;
  text-align: center;
  padding: 50px 10px; }
  .access-section h1 {
    font-size: 40px;
    font-weight: 300; }

.access-alt {
  margin-top: 5px;
  font-size: 17px; }
  .access-alt a {
    padding-left: 5px;
    color: teal; }

.access-form {
  margin-top: 15px; }
  .access-form .server-msg {
    overflow: hidden;
    background-color: #d23837;
    padding: 2px 20px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    opacity: 0;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    transition: all ease-in-out .3s; }
    .access-form .server-msg.field-error {
      opacity: 1; }
  .access-form .forgot-password {
    margin-top: 5px;
    color: teal;
    font-size: 14px;
    text-align: right; }

.btn-c-teal {
  border-color: teal;
  color: teal; }
  .btn-c-teal:hover, .btn-c-teal:focus {
    color: #fff;
    background-color: teal; }

.access-auth {
  margin-top: 20px; }
  .access-auth .text {
    font-size: 15px; }
  .access-auth .auth-apps {
    margin-top: 20px;
    display: flex;
    justify-content: center; }
    .access-auth .auth-apps .auth-app {
      color: #fff;
      margin: 0px 20px;
      display: flex;
      align-items: center;
      font-size: 15px;
      cursor: pointer;
      transition: all ease-in-out .3s; }
      .access-auth .auth-apps .auth-app:hover, .access-auth .auth-apps .auth-app:focus {
        box-shadow: 0 0 10px #444;
        transform: scale(1.1); }
      .access-auth .auth-apps .auth-app.facebook-app {
        background-color: #385591; }
      .access-auth .auth-apps .auth-app.google-app {
        background-color: #CC4634; }
      .access-auth .auth-apps .auth-app .app-icon {
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        flex: none;
        border-right: 1px solid #fff; }
      .access-auth .auth-apps .auth-app .app-name {
        padding: 0 20px;
        width: 100%; }
