header.main {
  background-color: #4A4A4A; }

.error-box {
  margin: 20px auto;
  display: flex;
  justify-content: center; }
  .error-box .code-error {
    font-size: 100px;
    line-height: 100px; }
  .error-box .text-error {
    font-size: 20px;
    margin-top: 5px; }
