.content {
    background-color: #333;
}
.sidebar {
    color: #fff;
    padding: 10px 0;
    hr {
        border-bottom-color: #3f3f3f;
    }
}
.mean {
    margin: 20px 0;
}
header.with-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        flex: 1;
    }
    .actions {
        padding-left: 10px;
        button {
            padding: 0 5px;
        }
    }
}


.title{
    font-size: 20px;
    font-weight: 300;
    .highlight {
        font-weight: 400;
        color: #9D1717;
        font-size: 1.2em;
        vertical-align: baseline;
    }
}
.container-custom {
    min-width: 300px;
    width: 100%;
    max-width: 350px;
}

/* BEGIN CALENDAR */
.calendar {
    padding: 10px 0;
}
/* END CALENDAR */

/* BEGIN FORM CREATE EVENTS */
.create-event {
    text-align: left;
    width: 300px;

    overflow-y: hidden;
    transition: all ease .3s;
}
.create-event-form {
    padding: 10px;
}
.form {
    .input-group.inputs-date-time{
        input {
            width: 40px;
        }
        .input-field {
            flex: none;
            padding: 0 2px;
            text-align: center;
            &:first-of-type {
                padding-left: 0px;
            }
            &:last-of-type {
                padding-right: 0px;
            }
        }
        .inputs-date, .inputs-time {
            display: flex;
        }
        .inputs-time {
            justify-content: flex-end;
            align-items: flex-end;
            .points {
                height: 30px;
                width: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &:before, &:after {
                    content: '';
                    position: relative;
                    border: 2px solid;
                    border-color: inherit;
                    border-radius: 50%;
                    flex: none;
                }
                &:before {
                    bottom:4px;
                }
                &:after {
                    top: 4px;
                }
            }

        }
    }
}
/* END FORM CREATE EVENTS */
/* BEGIN IMPORTANT EVENTS */
.important-events {
    padding: 10px 0;
    height: 200px;
}
table#important-events {
    width: 100%;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    table-layout: fixed;
    th {
        font-weight: 200;
        font-size: 13px;
        &.name {
            width: 80%;
        }
        &.remaining {
            width: 20%;
            text-align: center;
        }
    }
    td {
        font-size: 16px;
        overflow-x: hidden;
    }
    .event-name {
        width: 100%;
        padding: 3px 0;
        overflow-x: hidden;
        white-space: nowrap;
    }
    .remaining-days {
        text-align: center;
    }

}
/* END IMPORTANT EVENTS */

/* BEGIN DAY EVENTS */
.day-calendar-events {
    padding: 15px;
    padding-top: 10px;
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    flex: 1;
    .date {
        font-size: 20px
    }
    hr {
        margin: 10px -15px;
        border-bottom-color: #dadada;
    }
}
.day-events {
    .event {
        display: flex;
        border-left: 2px solid transparent;
        padding-left: 5px;
        margin-top: 5px;

        &.important {
            border-color: red;
        }
        .event-info {
            flex: 1;
        }
        .event-time {
            font-size: 14px;
            margin-right: 10px;
        }
        .event-observations {
            font-size: 14px;
            color: #444;
        }
        .event-actions {
            display: flex;
            align-items: center;
            button {
                margin: 0 5px;
            }
        }

    }

}

/* END DAY EVENTS */
/* BEGIN POPOVER */
.pos-relative {
    position: relative;
}
.popover {
    position: absolute;
    top: 100%;
    border: 1px solid #dadada;
    border-radius: 5px;
    &:before, &:after {
        content: '';
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent;
        margin-top: -20px;
        right: 40px;
        top: 0;
        pointer-events: none;
    }
    &:after {
        border-bottom-color: #fff;
        margin-top: -19px;
    }
    &:before {
        border-bottom-color: inherit;
    }
}
.popover-create-event {
    background-color: #fff;
    right: 50%;
    margin-right: -50px;
    display: none;
    &.is-open {
        display: block;
    }
    .close-event-popover {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
        margin-top: 5px;
        button {
            padding: 5px;
        }
    }
}

/* END POPOVER */
