// BEGIN VARIABLES
$footer-height: 65px;
$height-navbar: 51px;
// END VARIABLES
html, body {
    height: 100%;
}
.content {
    padding-top: $height-navbar;
    min-height: calc(100% - #{$footer-height});
}
.actions button:hover,.actions button:focus {
    color: teal;
}
// BEGIN HEADER
header.main {
    width: 100%;
    position: fixed;
    z-index: 20;
}
.logo a {
    font-size: 28px;
    font-weight: 400;
}
.font-size-20{
    font-size: 20px !important;
}
// END HEADER

// BEGIN FOOTER
footer {
    border-top: 1px solid #DADADA;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    color: #333;
    height: $footer-height;
}
// END FOOTER


.underline{
    &:hover,:focus {
        text-decoration: underline;
        padding-bottom: 5px;
    }
}
.wrap-width {
    width: 100%;
}
.wrap-height{
    height: 100%;
}
